#colours() {
    active-field: bisque;
    field-error: lightpink;
    panel-background: ivory;
    selected-value: bisque;
}
form.classic {
    background: #colours[panel-background]; border-radius: 5px;
    box-shadow: 3px 3px 3px gray; display: inline-block;
    .alert {
        padding: 0.5rem;
    }
    .alert, .form-title {
        font-family: sans-serif;
    }
    .field-label {
        display: table-cell; padding: 0.5rem; white-space: nowrap;
    }
    .form-wrapper {
        border-radius: 5px; padding: 0;
        legend {
            margin-left: 0.5rem;
        }
    }
    label {
        font: 0.8em sans-serif;
    }
    .input-field {
        display: table-row; position: relative;
        .alert {
            border-radius: 5px; display: block; margin-right: 0.5rem;
        }
        .alert-error {
            background: #colours[field-error];
        }
        .alert-info {
            background: #colours[selected-value];
        }
    }
    .input-captcha input,
    .input-captcha .field-label,
    .field-label.select-multiple,
    .field-label.input-textarea {
        vertical-align: top;
    }
    .label-right .field-label {
        left: 375px; position: absolute; top: -5px;
    }
    .input-duration .input-select-integer,
    .input-interval .input-group,
    .input-repeatable div,
    .input-time-with-zone .input-group {
        display: inline-block;
    }
    .input-captcha input,
    .input-integer input,
    .input-interval input,
    .input-money input,
    .input-number input {
        text-align: right;
    }
    .field-label .label-sep-right {
        float: right;
    }
    .input-duration .option-label .label-sep-after,
    .input-duration .option-label .label-sep-before {
        display: none;
    }
    select.select-multiple option {
        width: 100px;
    }
    select.select-multiple option[selected=selected] {
        background: #colours[selected-value];
    }
    .input-textarea textarea {
        overflow: auto;
    }
    input:focus, textarea:focus {
        background: #colours[active-field];
    }
    .input-field input[type=submit]:focus,
    .input-field input[type=password],
    .input-field input[type=text],
    .input-field select.select-multiple,
    .input-field textarea {
        border-radius: 5px; display: table-cell; margin-right: 0.5rem;
    }
    .input-field select {
        display: table-cell; margin-right: 0.5rem;
    }
    .input-display span {
        padding-left: 3px;
    }
    .input-button {
        display: inline-block; float: right;
        input {
            margin: 0.5rem 0.5rem 0.5rem 0;
        }
    }
}
.form-messages {
    .alert {
        font-family: sans-serif; margin-bottom: 1rem;
    }
}
