@button-font-size: 0.7rem;
@data-font-size: 0.85rem;
@system-font-size: 0.8rem;
@alert-max-width: 14rem;
@display-text-max-width: 20rem;
@display-text-min-width: 15rem;
@checkbox-height: 1.25rem;
@checkbox-knob-width: 20px;
@checkbox-width: 40px;
@ds-form-horizontal-max-width: 21rem;
@error-max-width: 50rem;
@field-min-width: 15rem;
@filemanager-min-width: 10rem;
@form-min-width: 16rem;
@form-wide-min-width: 40rem;
@label-width: 7rem;
@label-narrow-width: 5rem;
@select-max-width: 12rem;
@select-option-min-width: 8rem;
@selector-min-width: 16rem;
@textarea-max-width: 24rem;
@textarea-min-width: 15rem;
#colours() {
    button-bg: bisque;
    button-border: gainsboro;
    button-disabled-bg: gainsboro;
    button-hover: limegreen;
    button-lighter-bg: whitesmoke;
    button-text: black;
    checkbox-false-bg: firebrick;
    checkbox-true-bg: seagreen;
    close: firebrick;
    disabled: gray;
    ds-tile-bg: wheat;
    ds-tile-lighter-bg: whitesmoke;
    error-bg: lightpink;
    field-active: bisque;
    field-border: gainsboro;
    field-required: red;
    field-selected-bg: bisque;
    line: gray;
    link: seagreen;
    panel-bg: ivory;
    panel-shadow: gray;
    text: black;
}
#fonts() {
    code: ui-monospace, 'Cascadia Code', Menlo, 'DejaVu Sans Mono', monospace;
    cursive: 'Segoe Print', 'Bradley Hand', Chilanka, casual, cursive;
    data: 'Roboto Slab', 'DejaVu Serif', 'Sitka Small', serif;
    mono: 'Nimbus Mono PS', 'Courier New', monospace;
    system: Roboto, system-ui, sans-serif;
}
#grads() {
    button-bg: linear-gradient(
        0deg, #colours[button-bg], #colours[button-lighter-bg]
    );
    button-border-bg: radial-gradient(
        #colours[button-hover], transparent, transparent
    );
    button-disabled-bg: linear-gradient(
        0deg, #colours[button-disabled-bg], #colours[button-lighter-bg]
    );
    error-fade: linear-gradient(
        to right, transparent, #colours[error-bg] 80%
    );
}
form.classic {
    --label-width: @label-width;
    background: #colours[panel-bg]; border-radius: 5px;
    box-shadow: 3px 3px 3px #colours[panel-shadow]; color: #colours[text];
    display: inline-block; padding-bottom: 0.125rem; position: relative;
    .alert {
        font-family: #fonts[system]; font-size: @system-font-size;
    }
    .form-wrapper {
        border-radius: 5px; min-width: @form-min-width;
        padding: 0 1rem 0.25rem 1rem; position: relative;
        .form-title {
            color: #colours[text]; font-family: #fonts[system];
            margin-left: -2px;
        }
        &:has(.input-field span.field-label) .input-button button {
            margin-top: 1rem;
        }
    }
    &.narrow, .form-wrapper.narrow {
        --label-width: @label-narrow-width;
    }
    &.wide, .form-wrapper.wide {
        min-width: @form-wide-min-width;
    }
    .form-page > .alert-info, .form-wrapper > .alert-info, & > .alert-info {
        padding-bottom: 0.5rem;
    }
    .form-wrapper > .alert-info {
        padding-top: 0.25rem;
    }
    .input-field {
        padding-bottom: 0.5rem; position: relative;
        &:has(label.field-label) {
            align-items: baseline; column-gap: 0.5rem; display: grid;
            grid-template-columns: var(--label-width) min-content auto;
            grid-template-areas: "label input selector" "label alert alert";
            justify-items: start; min-width: @field-min-width;
        }
        &.label-right:has(label.field-label) {
            grid-template-columns: min-content auto var(--label-width);
            grid-template-areas: "selector input label" "alert alert label";
            input, select, span, textarea {
                justify-self: end;
            }
        }
        &.hide {
            display: none !important; opacity: 0;
        }
        &.inline:not(.hide) {
            display: inline-grid !important; margin-right: 0.5rem;
            &:not(.input-datastructure):has(label.field-label) {
                grid-template-columns: min-content min-content auto !important;
            }
            .input-field {
                padding-bottom: 0;
            }
        }
        &:has(span.field-label) {
            display: grid;
            grid-template-columns: 0 min-content auto;
            grid-template-areas: "label input selector" "label alert alert";
            justify-content: center;
            input {
                height: 1.75rem; margin-top: 1.25rem; max-width: unset;
                outline: 0;
            }
            input[type=password], input[type=text]:not(.digit) {
                border-radius: 50px; padding-left: 0.75rem;
            }
            input.digit:first-child {
                border-bottom-left-radius: 50px; border-top-left-radius: 50px;
            }
            input.digit:last-child {
                border-bottom-right-radius: 50px; border-top-right-radius: 50px;
            }
        }
        span.field-label {
            border: 2px solid transparent; padding: 2px 0.25rem;
            position: absolute; top: 1.25rem; transition: top 0.5s;
            translate: 0.5rem;
        }
        &:hover span.field-label,
        &:has(input:focus) span.field-label,
        &:has(input:valid) span.field-label {
            top: -0.25rem;
        }
        &:has(.digit-input-wrapper) .field-label::after,
        &:has(input[required=required]) .field-label::after,
        &:has(select[required=required]) .field-label::after,
        &:has(textarea[required=required]) .field-label::after {
            color: #colours[field-required]; content: '*'; min-width: 2ch;
            padding-left: 0.25rem;
        }
        &:has(.digit-input-wrapper > input:valid) .field-label::after,
        &:has(input:valid) .field-label::after,
        &:has(select:valid) .field-label::after,
        &:has(textarea:valid) .field-label::after {
            content: ' ';
        }
        input, select, textarea {
            border-radius: 5px; font-family: #fonts[data];
            font-size: @data-font-size; grid-area: input;
        }
        input {
            height: 1.5rem;
        }
        select {
            background: #grads[button-bg]; max-width: @select-max-width;
        }
        textarea {
            box-sizing: content-box; min-height: 3lh;
            max-width: @textarea-max-width; min-width: @textarea-min-width;
            overflow: auto; padding-left: 0.25rem;
        }
        input:focus, textarea:focus {
            background: #colours[field-active];
        }
        input[type=date], input[type=email], input[type=password],
        input[type=text], select.select-multiple option {
            padding: 0 0.25rem;
        }
        input[readonly=readonly] {
            color: #colours[disabled];
        }
        input[readonly=readonly][type=datetime-local] {
            background: #colours[panel-bg]; border: 0; color: #colours[text];
        }
        input[type=submit] {
            font-family: #fonts[system]; font-size: @system-font-size;
        }
        select.select-multiple option {
            min-width: @select-option-min-width;
        }
        select.select-multiple option[selected=selected] {
            background: #colours[field-selected-bg];
        }
        .alert {
            border-radius: 5px; display: block; font-size: @system-font-size;
            grid-area: alert; margin-top: 0.25rem; max-width: @alert-max-width;
            padding: 0.25rem 0.5rem;
        }
        .alert-error {
            background: #colours[error-bg];
            box-shadow: 3px 3px 3px #colours[panel-shadow];
        }
        .alert-info {
            background: #colours[field-selected-bg];
        }
        .field-label {
            font-family: #fonts[system]; font-size: @system-font-size;
            grid-area: label; position: relative; white-space: nowrap;
            .label-sep-after {
                position: absolute; right: 0.25rem;
            }
        }
        &.input-button, &.input-filter, &.input-hidden .alert {
            max-width: 100%;
        }
    }
    .data-structure, .input-button, .input-selector {
        isolation: isolate;
        button, a.form-button {
            background: #grads[button-bg];
            border: 2px outset #colours[button-border]; border-radius: 50px;
            color: #colours[link]; cursor: pointer; display: inline-block;
            font-family: #fonts[system]; font-size: @button-font-size;
            letter-spacing: 0.1rem; line-height: 0.8rem; overflow: hidden;
            padding: 0.366rem 0.75rem; position: relative;
            text-decoration: none; text-transform: uppercase;
            transition: border 0.5s, color 0.5s;
            span, svg {
                font-size: @button-font-size; letter-spacing: 0.1rem;
                position: relative; text-decoration: none;
                text-transform: uppercase; white-space: nowrap; z-index: 3;
            }
            span.icon-wrapper {
                display: block;
                svg {
                    vertical-align: top;
                }
            }
        }
        button:hover, a.form-button:hover {
            border: 2px inset #colours[button-border];
            color: #colours[button-text];
        }
        button::before, a.form-button::before {
            background: #grads[button-border-bg]; content: ''; display: block;
            height: 3rem; left: var(--x); opacity: 0; position: absolute;
            top: var(--y); transform: translate(-50%, -50%);
            transition: opacity 0.5s; width: 3rem; z-index: 1;
        }
        button:hover::before, a.form-button:hover::before {
            opacity: 1;
        }
        button::after, a.form-button::after {
            background: #grads[button-bg]; border-radius: 50px; content: '';
            inset: 3px; position: absolute; z-index: 2;
        }
        button[disabled=disabled], button[disabled=disabled]::after {
            background: #grads[button-disabled-bg];
        }
    }
    .input-boolean {
        .checkbox-wrapper {
            display: flex; grid-area: input; isolation: isolate;
            padding: 2px 0; position: relative;
            input[type=checkbox] {
                height: @checkbox-height; margin: 0; opacity: 0;
                position: relative; width: @checkbox-width; z-index: 3;
            }
        }
        .checkbox-wrapper::after {
            background: #grads[button-bg];
            border: 2px inset #colours[button-border]; border-radius: 10px;
            content: ''; display: block; position: absolute;
            height: @checkbox-height; left: 0;
            width: @checkbox-knob-width; z-index: 2;
        }
        .checkbox-wrapper:has(input[type=checkbox]:checked)::after {
            left: @checkbox-knob-width;
        }
        .checkbox-wrapper::before {
            background: #colours[checkbox-false-bg];
            border: 2px inset #colours[button-border]; border-radius: 10px;
            content: ''; display: block; position: absolute;
            height: @checkbox-height; left: 0; width: @checkbox-width;
            z-index: 1;
        }
        .checkbox-wrapper:has(input[type=checkbox]:checked)::before {
            background: #colours[checkbox-true-bg];
        }
        &:has(.label-checkbox) {
            align-items: center !important;
        }
    }
    .input-button {
        align-items: center; display: flex; justify-content: right;
        padding-top: 0.25rem;
        &.expand button {
            flex: 2;
        }
        &.right {
            margin-right: 0 !important; position: absolute; right: 0.5rem;
        }
    }
    .input-selector button {
        grid-area: selector;
    }
    .input-display {
        span {
            font-size: @system-font-size; grid-area: input;
            max-width: @display-text-max-width;
            padding: 0.125rem 0.35rem; white-space: nowrap;
        }
        span.breaking-text {
            min-width: @display-text-min-width;
            white-space: break-spaces;
        }
        span.code {
            min-width: @display-text-min-width; white-space: unset;
        }
        &:has(img) {
            align-items: flex-start !important;
        }
    }
    .input-duration .input-select-integer, .input-interval .input-group,
    .input-repeatable div, .input-time-with-zone .input-group {
        display: inline-block;
    }
    .input-captcha input, .input-integer input, .input-interval input,
    .input-money input, .input-number input {
        line-height: 1.75rem; padding-left: 0.25rem; text-align: right;
    }
    .input-duration .option-label .label-sep-after,
    .input-duration .option-label .label-sep-before,
    .input-hidden:not(.input-error) {
        display: none;
    }
    .input-hidden.input-error {
        display: block; width: 100%;
        .alert-error {
            max-width: 13rem;
        }
    }
    .input-immutable {
        h1, h2, h3, h4, h5 {
            margin: 0 0 0.5rem 0;
        }
        p, pre code {
            font-size: @system-font-size; line-height: 1rem; max-width: 50rem;
        }
        pre code {
            display: inline-block; white-space: break-spaces;
        }
    }
    .input-integer {
        .digit {
            border-left: none; border-radius: 0; border-right: none;
            outline: 0; text-align: center; width: 2rem;
        }
        .digit:first-child {
            border-left: 2px inset #colours[button-border];
            border-bottom-left-radius: 5px; border-top-left-radius: 5px;
        }
        .digit:last-child {
            border-right: 2px inset #colours[button-border];
            border-bottom-right-radius: 5px; border-top-right-radius: 5px;
        }
    }
    .input-password .reveal {
        cursor: pointer; grid-area: selector;
    }
    .input-select:has(label.select-multiple) {
        align-items: flex-start !important; padding-bottom: 0rem;
        label.select-multiple {
            padding-top: 2px;
        }
    }
    .input-textarea:has(.field-label) {
        align-items: flex-start !important;
        .field-label {
            padding-top: 3px;
        }
    }
    .digit-input-wrapper {
        display: flex; grid-area: input;
    }
    .ds-add-icon {
        font-family: #fonts[system]; font-size: smaller; font-weight: bold;
        svg {
            vertical-align: middle;
        }
    }
    .ds-form {
        display: flex; flex-direction: column; padding-bottom: 1rem;
        position: relative; gap: 0.5rem;
        .ds-header {
            font-family: #fonts[system]; font-size: @system-font-size;
            font-weight: normal; padding-top: 0.2rem;
        }
        .ds-row {
            background: #colours[ds-tile-bg];
            border-radius: 5px; box-shadow: 3px 3px 3px #colours[panel-shadow];
            display: flex; justify-content: space-between; padding: 0.5rem;
        }
        .ds-field {
            border-radius: 5px; border-bottom-right-radius: 0;
            border-top-right-radius: 0; display: flex; flex-direction: column;
            img {
                aspect-ratio: 16 / 9; inline-size: 100%; object-fit: contain;
            }
            input[readonly=readonly] {
                background: #colours[ds-tile-bg] !important;
            }
        }
        .ds-field.hide {
            display: none;
        }
        .ds-field-group {
            display: flex;
        }
        .ds-field-group.vertical {
            flex-direction: column;
        }
        .ds-input.input-text[readonly=readonly] {
            background: #colours[panel-bg]; border: 0;
            border-radius: 0; color: #colours[text]; padding: 0;
        }
        .ds-output {
            box-sizing: content-box; font-size: @system-font-size;
            margin-right: 0.25rem;
        }
        .ds-reorderable-drag {
            position: absolute;
        }
        .ds-reorderable {
            margin: auto; padding-left: 0.5rem;
            .knob {
                display: block; height: 20px; width: 20px;
            }
        }
        .ds-remove {
            border-radius: 5px; border-bottom-left-radius: 0;
            border-top-left-radius: 0; padding: 0.125rem 0 0 0.25rem;
            .ds-remove-icon {
                align-items: center; background: #grads[button-bg];
                border-radius: 3px;
                box-shadow: 2px 2px 2px #colours[panel-shadow];
                color: #colours[close]; cursor: pointer; display: flex;
                font-family: #fonts[system]; font-size: smaller;
                font-weight: bold; padding: 0 0.25rem;
                img, svg {
                    height: 20px; width: 20px; vertical-align: middle;
                }
            }
            .ds-remove-icon:hover {
                box-shadow: inset 0 0 3px #colours[panel-shadow];
                color: #colours[text];
            }
        }
        .ds-tag {
            padding-bottom: 0.25rem;
        }
        .ds-tag-label {
            font-family: #fonts[system]; font-size: @system-font-size;
            margin-right: 0.25rem;
        }
        &.horizontal {
            flex-direction: row; overflow-x: auto;
            max-width: @ds-form-horizontal-max-width;
            overscroll-behavior-inline: contain; scroll-behavior: smooth;
            &.snaps-inline {
                scroll-snap-type: inline mandatory;
            }
            &.snaps-inline > * {
                scroll-snap-align: start;
            }
        }
    }
    .form-page.hide {
        display: none;
    }
    .page-list {
        list-style-type: none; margin: 0; padding: 0 0 0.5rem 0;
        li {
            border-bottom: 1px solid #colours[line];
            border-top-left-radius: 5px; border-top-right-radius: 5px;
            color: #colours[disabled]; cursor: pointer; display: inline;
            font-family: #fonts[system]; font-size: @system-font-size;
            padding: 0 0.5rem;
        }
        li.selected {
            border: 1px solid #colours[line];
            border-bottom: 1px solid transparent; color: #colours[text];
        }
    }
    &.filemanager {
        padding: 0.5rem;
    }
}
.form-error {
    background: #colours[error-bg]; border: 1px solid #colours[line];
    border-radius: 5px; box-shadow: 3px 3px 3px #colours[panel-shadow];
    max-width: @error-max-width; overflow: hidden; padding: 0.5rem;
    h1, h2, h3 {
        margin: 0.5rem 0 !important;
    }
}
.form-messages {
    display: none;
    .alert {
        .card {
            font-family: #fonts[data]; margin-top: 0.25rem;
            max-width: @error-max-width; padding: 0 0.25rem;
            p {
                margin: 0; max-height: 6rem; overflow: hidden;
                position: relative;
            }
            p.long::after {
                background-image: #grads[error-fade];
                bottom: 0; content: ''; height: 1rem;
                position: absolute; right: 0; width: 100%;
            }
        }
    }
    .alert-error, .alert-error-message, .alert-severe .card {
        border-radius: 5px; background: #colours[error-bg];
        box-shadow: 3px 3px 3px #colours[panel-shadow];
        padding: 0.25rem;
    }
    .alert-error, .alert-error-message {
        margin-left: -0.25rem;
    }
    &:has(span) {
        display: inline-flex; flex-direction: column; padding-bottom: 0.5rem;
    }
}
.modal .filemanager {
    margin: 0; min-width: @filemanager-min-width;
    .input-field:has(label.field-label) {
        grid-template-columns: auto max-content auto;
    }
}
.selector form.classic:not(.wide) {
    box-shadow: none; margin: 0; min-width: @selector-min-width;
}
