form.classic .field-label {
  display: inline-block;
  width: 150px;
}
form.classic .input-captcha input,
form.classic .input-captcha .field-label,
form.classic .field-label.select-multiple,
form.classic .field-label.input-textarea {
  vertical-align: top;
}
form.classic .label-right .field-label {
  position: absolute;
  left: 375px;
}
form.classic .input-button,
form.classic .input-duration .input-select-integer,
form.classic .input-interval .input-group,
form.classic .input-repeatable div,
form.classic .input-time-with-zone .input-group {
  display: inline-block;
}
form.classic .input-captcha input,
form.classic .input-integer input,
form.classic .input-interval input,
form.classic .input-money input,
form.classic .input-number input {
  text-align: right;
}
form.classic .field-label .label-sep-right {
  float: right;
}
form.classic .input-duration .option-label .label-sep-after,
form.classic .input-duration .option-label .label-sep-before {
  display: none;
}
form.classic select.select-multiple option {
  width: 100px;
}
